<%- include('../partials/header') %>

    <% listing.reviews.forEach(function(r) { %>
<form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
    <input name="content" value="<%= %>">
    <button type="submit">UPDATE COMMENT</button>
  </form>
  <% }) %>
  
  <%- include('../partials/footer') %>
