<%- include('../partials/header') %> 
<% listing.reviews.forEach(function(r) { %>
<form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
  <label>Review:</label>
  <br />
  <textarea name="content"></textarea>
  <br /><br />
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br />
  <button type="submit">UPDATE COMMENT</button>
</form>
<% }) %> <%- include('../partials/footer') %>
