<%- include('../partials/header') %>

<form id="new-form" action="/listings" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Meeting Place:</label>
  <input type="text" name="meetingPlace">
  <label>Challenge Rating</label>
  <select name="challengeRating">
    <option value="NONE">None</option>
    <option value="LOW">Low</option>
    <option value="MODERATE">Moderate</option>
    <option value="HIGH">High</option>
  </select>
  <label>Recommended Professions</label>
  <select name="recClass">
    <option value="ARTIFICER">Artificer</option>
    <option value="BARD">Bard</option>
    <option value="BLOOD-HUNTER">Blood Hunter</option>
    <option value="CLERIC">Cleric</option>
    <option value="DRUID">Druid</option>
    <option value="FIGHTER">Fighter</option>
    <option value="FURY-FIGHTER">Fury Fighter</option>
    <option value="MARTIAL-ARTIST">Martial Artist</option>
    <option value="PALADIN">Paladin</option>
    <option value="RANGER">Ranger</option>
    <option value="ROGUE"">Rogue</option>
    <option value="SORCERER">Sorcerer</option>
    <option value="WARLOCK">Warlock</option>
    <option value="WIZARD">Wizard</option>
  </select>
  <input type="submit" value="Add Listing">
</form>

<%- include('../partials/footer') %>
