/* Main navigation and partials including main index.ejs */
* {
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
  color: #0f1213;
}
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 89px 1fr;
  grid-template-areas:
    'nav'
    'main';
}
body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a19c97;
  padding: 20px;
  overflow-y: scroll;
}
body > main h1:first-child,
h6 {
  margin-bottom: 50px;
  padding: 10px;
  border-style: groove;
  border-radius: 5px;
  border-color: #0f1213;
  border-width: 2px;
}
body > nav {
  grid-area: nav;
  background-color: #756966;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}
nav > img {
  width: 56px;
  object-fit: contain;
  margin-right: auto;
}
nav > a {
  margin: 20px;
  text-decoration: underline;
  padding: 10px;
  border-radius: 5px;
  border-style: groove;
  border-color: #200202;
  border-width: 2px;
}
nav > a:hover:not(.active) {
  color: white;
  background-color: #640707;
}
nav > a.active {
  color: white;
  cursor: default;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
.login img {
  height: 30px;
}
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-user img {
  border-radius: 50%;
  height: 40px;
}
#homeDragon {
  width: 65vmin;
  object-fit: contain;
  margin-bottom: 0;
}

/* Listing detail page, main container */
#listingBody * {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}
#listingBody div:nth-child(even) {
  font-weight: bold;
}
/* Listing detail page, review form container */
#review-form > table {
  font-size: 20px;
}
#review-form > table thead th {
  padding: 5px;
  border-bottom: 2px solid #db2d20;
}
#review-form > table td {
  padding: 10px;
  text-align: center;
}

/* All listings page */
#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}
#list a {
  border-radius: 4px;
  background-color: #8f140b;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}
#list a:hover {
  background-color: rgb(167, 23, 23);
}
#remove {
  border-radius: 4px;
  background-color: aquamarine;
  padding: 4px;
}

/* The various forms and buttons */
#new-form *,
#add-review-form *,
#add-mercenary-form *,
#add-merc-to-party * {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}
#new-form input[type='submit'],
#review-form input[type='submit'],
#add-review-form input[type='submit'],
#add-mercenary-form input[type='submit'],
#add-merc-to-party input[type='submit'] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}
