<%- include('../partials/header') %>

<p>Please first ensure that the Mercenary is not in the dropdown
  <select>
    <% mercenaries.forEach(function(p) { %>
      <option><%= p.name %></option>
    <% }) %>
  </select>
</p>
<form id="add-mercenary-form" action="/mercenaries" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Born:</label>
  <input type="date" name="born">
  <input type="submit" value="Add Mercenary">
</form>

<%- include('../partials/footer') %>
